

<div class="login-box">
  <h2>Sign Up</h2>
  <form action="" class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="user-box">
      <input class="input" type="text" id="inputUsername" [formControlName]="'username'"  required="required" placeholder="UserName">
      <label class="label" for=""> </label>
    </div>
    <!-- /.user-box -->
    <div class="user-box">
      <input class="input" type="email" id="inputEmail" [formControlName]="'email'" placeholder="Email"  required="required" placeholder="Email">
      <label class="label" for=""> </label>
    </div>


    <!-- /.user-box -->
    <div class="user-box">
      <input class="input" type="password" id="inputPassword" [formControlName]="'password'" required="required" placeholder="Password">
      <label class="label" for=""> </label>
    </div>

     <!-- /.user-box -->
     <div class="user-box">
      <input class="input" type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'" required="required" placeholder="Password">
      <label class="label" for=""> </label>
    </div>



    <!-- /.user-box -->
    <a class="button"  style="margin-left: 34%;"  href="#" type="submit"> 
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign up</button>
    </a>
  </form>
  <!-- /form -->
</div>
